/* @import url(https://fonts.googleapis.com/css?family=Montserrat:300,500|Open+Sans:300,600);
.snipcart {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:#313332
} */


@font-face {
  font-family: 'Gauthier';
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/gauthier.woff2) format('woff2');
}

.snipcart {
    font-family: Gauthier;
    font-size: 14px;
    font-weight: 300;
    color: black
}

.snipcart__font--secondary, .snipcart__font--subtitle {
    font-family: 'Gauthier'
}

.snipcart-cart-button--highlight {
  background-color: black;
  box-shadow: none;
  background-image: none;
}

.snipcart-cart-button--highlight:hover {
  background-color: #404040;
}

/* Icon color and size */

.snipcart__box--badge-highlight {
  background-image: none;
  background-color: black;
}

.snipcart__icon--blue-light path {
    fill:#000000
}

.snipcart__icon--blue-dark path {
    fill:#000000
}

.snipcart__icon {
    width: 20px;
    height:20px
}

.snipcart-form-radio:checked + label:before {
    background: #11df27;
    border:none
}

/* Input field border color - shipping method */

.snipcart-shipping-rates-list-item:focus-within {
    border:1px solid #000000
}

.snipcart-shipping-rates-list-item--highlight {
    border:1px solid #000000}


/* Input field border color - address */

.snipcart-input:focus-within {
    outline: none;
    border: 1px solid #000000;
    box-shadow:0 12px 24px 0 #f0f0f0
}

/* Input field border color - country */

.snipcart-form__select:focus {
    outline: none;
    border:1px solid #000000
}


/* checkbox color - address */

.snipcart-checkbox:focus + label:before, .snipcart-checkbox:hover + label:before {
    border:1px solid #000000
}

.snipcart-checkbox:checked + label:before {
    border: 1px solid #000000;
    background-color: #000000;
    box-shadow:0 2px 3px #f0f0f0
}



.snipcart-cart-header {
    background-color: #fafafa;
    }

.snipcart-modal {
    background-color:#fafafa
}

.snipcart-cart__content {
    background-color:#fafafa
}

.snipcart-featured-payment-methods__title {
    background-color: #fafafa;
}

.snipcart-layout__footer {
    background-color:#fafafa
}

.snipcart-modal__container {
    background-color:#fafafa
}

/* Color of cards in the checkout form */

.snipcart__box--gray {
    background-color:#ffffff}