/* @import url(https://fonts.googleapis.com/css?family=Montserrat:300,500|Open+Sans:300,600);
.snipcart {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color:#313332
} */


@font-face {
  font-family: 'Gauthier';
  font-style: normal;
  font-weight: 300;
  src: url(assets/fonts/gauthier.woff2) format('woff2');
}

.snipcart {
    font-family: Gauthier;
    font-size: 14px;
    font-weight: 300;
    color: black
}

.snipcart__font--secondary, .snipcart__font--subtitle {
    font-family: 'Gauthier'
}

.snipcart-cart-button--highlight {
  background-color: black;
  box-shadow: none;
  background-image: none;
}

.snipcart-cart-button--highlight:hover {
  background-color: #404040;
}

.snipcart__box--badge-highlight {
  background-image: none;
  background-color: black;
}

/* Button text color */

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    background-color: #fafafa;
    color: #fff !important;
}



.snipcart-cart-button {
    color: white;
}